@font-face {
    font-family: 'Poppins-Bold';
    src: url('../../public/static/fonts/Poppins-Bold.ttf');
    ;
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../public/static/fonts/Poppins-Regular.ttf');
    ;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../../public/static/fonts/Poppins-Medium.ttf');
    ;
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../../public/static/fonts/Poppins-ExtraBold.ttf');
    ;
}