.home-banner{
    background-image: url('../../public/static/home/Home.svg');
    background-size: cover;
    background-position: center;
}
.rectangle1-banner{
    background-image: url('../../public/static/home/rectangle1.svg');
    background-size: cover;
    background-position: center;
}
.rectangle2-banner{
    background-image: url('../../public/static/home/rectangle2.svg');
    background-size: cover;
    background-position: center;
}
.rectangle3-banner{
    background-image: url('../../public/static/home/rectangle3.svg');
    background-size: cover;
    background-position: center;
}